body {
	font-family: 'Patua One', cursive;
	background: grey;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.scrolling-box {
	height: 100vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	text-align: center;
}

.slide {
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 150px;
}

.container {
	width:960px;
	height:600px;  
	position: relative;
	margin:0 auto; 
}
				
.logo {
	color:#fff; 
	font-family: 'Abel',sans-serif;
	font-size:30px;
	position: absolute;
	padding: 20px;
}

.brand-quote {
	color: #fff;
	font-family: 'Patua One',cursive;
	font-size: 50px;
	padding-left: 20px;
}