body {
	font-family: 'Patua One', cursive;
	background: grey;
}

header {
	display: block;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.scrolling-box {
	height: 100vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	text-align: center;
}

.slide {
	height: 90vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	position: relative;
	width:960px;
	height:530px;  
	margin:0 auto; 
	background: transparent;
	padding-top: 30px;
	margin-top: 300px;
	margin-bottom: 130px;
}
				
.logo {
	color:#fff; 
	font-family: 'Abel',sans-serif;
	font-size:30px;
	position: absolute;
	padding: 20px;
}

.brand-quote {
	color: #fff;
	font-family: 'Patua One',cursive;
	font-size: 50px;
	padding-left: 20px;
}

.scrolling-keys {
	position: absolute;
	bottom: 30px;
	left: 900px
}

.login {
	position: absolute;
	right: 440px;
	bottom: 100px;
}